In [1]:
import pandas as pd

In [2]:
DATA_DIR = "./data/" # путь до папки с данными

In [3]:
data = pd.read_csv(f"{DATA_DIR}Таблица_SQL.csv", sep=";", encoding="windows-1251") # считываем данные, разделённые с помощью sep и имеющие кодировку encoding
data

,CRED_ID,DATA,OPER,SUMMA,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,2020-01-01,Вынос на просрочку,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-01-06,Вынос на просрочку,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-01-11,Гашение просрочки,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-01-16,Вынос на просрочку,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2020-01-21,Гашение просрочки,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,2020-01-26,Гашение просрочки,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,2020-01-31,Гашение просрочки,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,2020-02-05,Вынос на просрочку,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,2020-02-10,Вынос на просрочку,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,2020-02-15,Гашение просрочки,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2,2020-01-05,Вынос на просрочку,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,2020-01-10,Вынос на просрочку,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2,2020-01-15,Вынос на просрочку,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2,2020-01-20,Вынос на просрочку,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3,2020-01-01,Вынос на просрочку,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3,2020-01-15,Гашение просрочки,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3,2020-01-29,Вынос на просрочку,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3,2020-02-12,Гашение просрочки,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(data.columns[4:])  # удаляемые столбцы

data.drop(columns=data.columns[4:], inplace=True) # удаляем столбцы, не несущие никакой информации
data

Index(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

    CRED_ID        DATA                OPER  SUMMA
0         1  2020-01-01  Вынос на просрочку    100
1         1  2020-01-06  Вынос на просрочку     20
2         1  2020-01-11   Гашение просрочки    120
3         1  2020-01-16  Вынос на просрочку    100
4         1  2020-01-21   Гашение просрочки     20
5         1  2020-01-26   Гашение просрочки     20
6         1  2020-01-31   Гашение просрочки     20
7         1  2020-02-05  Вынос на просрочку     20
8         1  2020-02-10  Вынос на просрочку     20
9         1  2020-02-15   Гашение просрочки     80
10        2  2020-01-05  Вынос на просрочку     50
11        2  2020-01-10  Вынос на просрочку     10
12        2  2020-01-15  Вынос на просрочку     20
13        2  2020-01-20  Вынос на просрочку     10
14        3  2020-01-01  Вынос на просрочку     60
15        3  2020-01-15   Гашение просрочки     50
16        3  2020-01-29  Вынос на просрочку     15
17        3  2020-02-12   Гашение просрочки     24

In [ ]:
data.to_csv(f"{DATA_DIR}table_refactored.csv", sep=",", encoding="utf-8", index=False) # сохраняем данные без лишних столбцов, в кодировке UTF-8 и со стандартным разделителем (запятой) (и без автоматически созданного столбца индексов)